{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.3.3/css/tabulator.min.css">
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.3.3/js/tabulator.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
{% endblock %}

{% block content %}
<div id="my-container">
    <div id="my-tab">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#btc" data-toggle="tab">BTC</a></li>
            <li><a href="#bch" data-toggle="tab">BCH</a></li>
            <li><a href="#eth" data-toggle="tab">ETH</a></li>
        </ul>
    </div>
    <div id="my-tab-content" class="tab-content">
        <div id="example-table"></div>
    </div>
    <br />
    <div id="currencies">
        <div id="usd-jpy"><span class="currency">USD/JPY</span> : <span class="price"></span></div>
        <div id="eur-jpy"><span class="currency">EUR/JPY</span> : <span class="price"></span></div>
    </div>
</div>

<script type="text/javascript">
    // Initialize table
    Tabulator.extendExtension("format", "formatters", {
        percent: function (cell, formatterParams) {
            return cell.getValue().toFixed(2) + "%";
        }
    });
    $("#example-table").tabulator({
        layout:"fitDataFill",
        pagination: "local",
        paginationSize: 10,
        initialSort: [
            {column: "price_jpy", dir: "desc"},
        ],
        columns: [
            {title: "Exchange", field: "exchange_id", sorter: "string"},
            {title: "Currency Pair", field: "symbol", sorter: "string"},
            {title: "Price (USD)", field: "price_usd", sorter: "number", align: "right", formatter: "money", formatterParams: {precision: 2, symbol: "$"}},
            {title: "Price (EUR)", field: "price_eur", sorter: "number", align: "right", formatter: "money", formatterParams: {precision: 2, symbol: "€"}},
            {title: "Price (JPY)", field: "price_jpy", sorter: "number", align: "right", formatter: "money", formatterParams: {precision: 0, symbol: "¥"}},
            {title: "差額 (JPY)", field: "diff_jpy", sorter: "number", align: "right", formatter: "money", formatterParams: {precision: 0, symbol: "¥"}},
            {title: "差額％ (JPY)", field: "diff_jpy_rate", sorter: "number", align: "right", formatter: "percent"},
        ],
        ajaxResponse: function (url, params, response) {
            $("#currencies #usd-jpy > span.price").text(response.usd_jpy.toFixed(2));
            $("#currencies #eur-jpy > span.price").text(response.eur_jpy.toFixed(2));
            return response.currencies;
        },
        // ajaxError: function(xhr, textStatus, errorThrown) {
        //     console.log("xhr=", xhr);
        //     console.log("textStatus=", textStatus);
        //     console.log("errorThrown=", errorThrown);
        //     console.log("message=", xhr.responseJSON.message);
        // },
        rowFormatter: function (row) {
            var data = row.getData();
            row.getElement().css({"background-color": "hsl(120, " + data.diff_jpy_rate * 10 + "%, 50%, 0.3)"});
        },
    });

    // Update records
    $("#example-table").tabulator("setData", "{% url 'prices:current' %}", {"symbol": "btc"});

    // Tab click
    $("a[data-toggle='tab']").on("shown.bs.tab", function (e) {
        var target = $(e.target).attr("href").split("#")[1];
        $("#example-table").tabulator("clearData");
        $("#example-table").tabulator("setData", "{% url 'prices:current' %}", {"symbol": target});
    });
</script>
{% endblock %}
