<!doctype html>
{% load i18n %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %}</title>

    {# css #}
    {% block extra_css %}{% endblock %}

    {# js #}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    {% block extra_js %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% block footer_js %}{% endblock %}
</body>
</html>
